body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
